<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="inPath" value="C:\大林さん課題追加\OobayashiSama\課題用CSV1.csv" />
    <add key="outPath" value="C:\大林さん課題追加\OobayashiSama\output\outData{0}.csv" />
  </appSettings>
  <connectionStrings>
    <add name="CBConnectionString" connectionString="Data Source=ORACLE-PC;Initial Catalog=kashiharaDB;User Id=sa;Password=pcproadmin;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>

</configuration>
